html{
  font-size: (16/1920) * 100vw;
}

body {
  background-color: #0b1a2d;
  color: white;
}

select {
  background: $primaryBackground;
}

select:focus {
  outline: 0;
}

option {
  background: $primaryBackground;
}

.el-tree {
  background: $primaryBackground;
  color: white;

  .el-tree-node__content, .el-tree-node__content:hover, .el-tree-node:focus > .el-tree-node__content {
    background: $primaryBackground;
  }
  
}

.el-tree--highlight-current .el-tree-node.is-current>.el-tree-node__content {
  background-color: #083e7b;
}

.el-menu{
  border-right: 0;
}

.jm-button {
  display: inline-block;
  box-sizing: content-box;
  padding: 0 vw(10);
  height: vh(30);
  border: 1px solid $primaryBorder;
  line-height: vh(30);
  text-align: center;
}

.jm-button-light {
  display: block;
  background: #0b7cb3;
  color: white;
}

.to-right{
  float: right;
}

.angel-reverse {
  transform: rotate(180deg);
}


div{
  box-sizing: border-box;
}

::-webkit-scrollbar-track{
  background: $primaryBackground;
}
::-webkit-scrollbar-thumb{
  background: #057b9e;
  border-radius: vh(5);
}
::-webkit-scrollbar{
  width: vw(3);
}